@model List<SliderInfoVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">

            <a asp-action="Create" class="btn btn-outline-success m-2">Create</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">SignImage</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                       
                             
                         @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.Raw(item.Title)</td>
                                 <td>@item.Description</td>
                                <td><img src="~/img/@item.SignImage" style="width:200px; height:100px;"/></td>
                                <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning m-2">Edit</a>
                                <form method="post" class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-outline-danger m-2">Delete</button>
                                </form>
                                 </td>
                            </tr>
                        }         
                          
                </tbody>
            </table>
        </div>
    </div>
</div>


